/*1da1f2*/

.homeCarts {
  margin-top: 5rem;
  position: relative;
}

.homeCartsList {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.homeBarChart {
  width: 95dvw;
  display: block;
  margin: 3rem auto;
  padding: 1rem;
}

@media screen and (min-width: 720px) {
  .homeBarChart {
    max-width: 800px;
  }
}

.homeCarts header {
  font-size: 2rem;
  margin: 2rem;
  color: #333;
  border-bottom: 2px solid #222;
}
